/* Estilos generales para el cuerpo y el documento HTML */
body, html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, white, #eaf4e9);
}

/* Estilos para el encabezado (slogan) */
.slogan {
    background-color: #047235;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos para el contenedor de preguntas */
#quizContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Estilos para las opciones de respuesta */
input[type="radio"] {
    margin-right: 10px;
}

/* Estilos para el botón "Siguiente" */
#nextButton {
    background-color: #48c663;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

#nextButton:hover {
    background-color: green;
}

/* Estilos para el contenedor de resultados */
#results {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Estilos para el puntaje final */
#score {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Estilos para la puntuación promedio por categoría */
.category-score {
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para el botón "Guardar en Excel" */
#exportButton {
    background-color: #047235;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

#exportButton:hover {
    background-color: green;
}
